.column { /*расположение колонок*/
    display: flex;
    justify-content: flex-start; 
    gap: 20px;   
}

label { /*стиль колонок*/
    margin-bottom: 10px; 
    padding: 10px 20px; 
    border-radius: 10px; 
    width: fit-content; 
    font-weight: bold;   
}

.backlog label {
    color: orange;
    background-color: rgb(252, 230, 190);
}

.progress label {
    position: relative;
    color: blue;
    background-color: rgb(206, 211, 255);
}

.ready label {
    color: green;
    background-color: rgb(206, 255, 210);
}

.basket label {
    color: red;
    background-color: rgb(255, 206, 206);
}