ul { 
    list-style: none; 
    padding-left: 0; 
    display: block;        
}

li {  
    background-color: #f8f3f3;  
    width: 30%;  
    padding: 10px 20px;  
    border-radius: 10px;  
    margin-bottom: 15px;  
    border-left: 5px solid transparent;  
    width: fit-content; 
}

.backlog li { 
    border-left-color: rgb(252, 230, 190); 
}

.progress li { 
    border-left-color: rgb(206, 211, 255); 
}

.ready li { 
    border-left-color: rgb(206, 255, 210); 
}

.basket li { 
    border-left-color: rgb(255, 206, 206); 
}