body {
    padding: 0px 15px;
    font-size: 14px;
    line-height: 22px;
    font-family: "Georgia", serif;
    color: #222222;
    background-color: #f0f0f0;
    }

.board-app__header {
    background-color: #007BFF;
    color: white;
    text-align: left;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    }